:root {
    /**white yellow**/
    --S : #FAD54A;
    --AH: #FAD54A;
    
    --E : #FAD54A;
    --AD: #FAD54A;
    
    --V : #9B9B9B;
    
    --M : #fff;
    
    --X : #787878;
    



    /**dark red**/
    --A : #222222;
    --I : #222222;
    
    --C : #F6F6F6;
    
    --G : rgba(219, 28, 3, 1);
    --H : rgba(219, 28, 3, 0.8);
    
    --J : #CCCCCC;
    --L : #CCC;
    --AF: #CCC;
    
    --K : #333;
    --Q : #333;
    --R : #333;
    --U : #333;
    --AB: #333;
    
    --O : #444;
    --Y : #444;
    --Z : #444;
    
    --T : #yellow;
    --W : #yellow;
    --AC: #yellow;
    
    --B : #444444;
    --D : #575757;
    --F : #BEBEBE;
    --N : #222;
    --P : #fff;
}