:root {
    --A : #222222;
    --I : #222222;
    
    --C : #F6F6F6;
    /*--AA: #F6F6F6;*/
    
    --E : #DB1C03;
    --S : #DB1C03;
    --V : #DB1C03;
    --X : #DB1C03;
    --AD: #DB1C03;
    --AE: #DB1C03;
    
    --G : rgba(219, 28, 3, 1);
    --H : rgba(219, 28, 3, 0.8);
    
    --J : #CCCCCC;
    --L : #CCC;
    --AF: #CCC;
    
    --K : #333;
    --Q : #333;
    --R : #333;
    --U : #333;
    --AB: #333;
    
    --O : #444;
    --Y : #444;
    --Z : #444;
    
    --T : #red;
    --W : #red;
    --AC: #red;
    
    --B : #444444;
    --D : #575757;
    --F : #BEBEBE;
    --N : #222;
    --P : #fff;
}