:root {
    --A : #F6F6F6;
    --AB: #F6F6F6;
    
    --C : #323232;
    --S : #323232;
    
    --E : #4065BA;
    --U : #4065BA;
    
    --F : #9B9B9B;
    --V : #9B9B9B;
    
    --G : rgba(64, 101, 186, 1);
    --H : rgba(64, 101, 186, 0.8);
	--J : #000000;
    
    --I : #2E51A2;
    --K : #2E51A2;
    --O : #2E51A2;
    --P : #2E51A2;
    
    --L : #9caed9;
    
    --M : #fff;
    --N : #ffffff;
    --T : #ffffff;
    --Z : #FFF;
    
    --B : #EBEBEB;
    --D : #BEBEBE;
    --Q : #e1e7f5;
    --R : #f6f6f6;
    --X : #787878;
    --AA: #fcfcfc;
    --AC: #2556c6;
    --AD: #1d439b;
    --AF: black;
}