/*!by Hashbrown777. feel free to modify and use, but only if you keep this attribution at the top of your copy*/

body:before {
	animation : slideshow 60s linear infinite;
	background : url(docrqq.jpeg);
	background-repeat : no-repeat;
	background-size : cover;
}
@keyframes slideshow {
	0% { background-position : 100% 0; }
	2% { background-position : 100% 0; }
	43% { background-position : 5% 0; }
	48% { background-position : 0% 0; }
	52% { background-position : 0% 0; }
	93% { background-position : 95% 0; }
	98% { background-position : 100% 0; }
	100% { background-position : 100% 0; }
}











@media (-webkit-min-device-pixel-ratio: 0) {
    .header:before {
		text-align : right;
		margin-right : 40%;
        animation : quotes 80s linear infinite;
    }
    .header:after {
		text-align : left;
        animation : quotedBy 80s linear infinite;
		margin-left : 60%;
		display : block;
        content : '';
    }
    ::safaryOnly, .header:before {
        content : 'Things work slightly better in Chrome';
    }
}


.header:before {
    display : block;
    content : 'Things here look better in webkit';
}

@keyframes quotes {
    100% { content : 'You don\'t question why you hear the call, you only pick up the phone';	}
	0% { content : 'You don\'t question why you hear the call, you only pick up the phone'; }
	25% { content : 'Remember; no matter how desperate the situation seems, time spent thinking clearly is never time wasted.'; }
	50% { content : 'If at first you don\'t succeed; call it version 1.0'; }
	75% { content : 'The glass is neither half-full nor half-empty: it\'s twice as big as it needs to be.'; }
}
@keyframes quotedBy {
    100% { content : '\2013 /u/Valdrbjorn';	}
	0% { content : '\2013 /u/Valdrbjorn'; }
	25% { content : '\2013 Zombie Survival Guide'; }
	50% { content : '\2013 unknown'; }
	75% { content : '\2013 unknown'; }
}









:root {
	--eggImage1 : url(hidamari_sketch_yuno_by_graphicsmith-d4bxvho.png);
	--eggWidth1 : 150px;
	--eggHeight1 : 159.2px;
	
	--eggImage2 : url(nichibro.png);
	--eggWidth2 : 150px;
	--eggHeight2 : 375px;
	
	--eggImage3 : url(killlakill2.png);
	--eggWidth3 : 150px;
	--eggHeight3 : 190px;
	
	--eggImage4 : url(asuka2.png);
	--eggWidth4 : 200px;
	--eggHeight4 : 150px;
	
}

@media (-webkit-min-device-pixel-ratio: 0) {

body:after {
	display : block;
	content : '\a0';
	position : fixed;
	right : 0;
	z-index : 10;

    background-repeat : no-repeat;
	background-size : auto 100%;
	background-position : 0 bottom;
	
	animation : eggs 80s linear infinite;
}

@keyframes eggs {
	0% {
		background-image : var(--eggImage1);
		width : var(--eggWidth1);
		height : var(--eggHeight1);
		bottom : -100%;
	}
	5% {
		bottom : 0;
	}
	20% {
		bottom : 0;
	}
	24% {
		background-image : var(--eggImage1);
		width : var(--eggWidth1);
		height : var(--eggHeight1);
		bottom : -100%;
	}
	
	25% {
		background-image : var(--eggImage2);
		width : var(--eggWidth2);
		height : var(--eggHeight2);
		bottom : -100%;
	}
	30% {
		bottom : 0;
	}
	45% {
		bottom : 0;
	}
	49% {
		background-image : var(--eggImage2);
		width : var(--eggWidth2);
		height : var(--eggHeight2);
		bottom : -100%;
	}
	
	50% {
		background-image : var(--eggImage3);
		width : var(--eggWidth3);
		height : var(--eggHeight3);
		bottom : -100%;
	}
	55% {
		bottom : 0;
	}
	70% {
		bottom : 0;
	}
	74% {
		background-image : var(--eggImage3);
		width : var(--eggWidth3);
		height : var(--eggHeight3);
		bottom : -100%;
	}
	
	75% {
		background-image : var(--eggImage4);
		width : var(--eggWidth4);
		height : var(--eggHeight4);
		bottom : -100%;
	}
	80% {
		bottom : 0;
	}
	95% {
		bottom : 0;
	}
	99% {
		background-image : var(--eggImage4);
		width : var(--eggWidth4);
		height : var(--eggHeight4);
		bottom : -100%;
	}
}

}


.list-item:not(:hover) .data.studio a[href*="/producer/"]:before { filter: grayscale(100%); }

/*CoMix Wave Films*/
.data.studio a[href$="producer/291"]:before { content : ' \1F386'; }
/*A-1 Pictures*/
.data.studio a[href$="producer/56"]:before { content : ' \1F3C4'; }
/*Madhouse*/
.data.studio a[href$="producer/11"]:before { content : ' \1F3B1'; }
/*Kyoto Animation*/
.data.studio a[href$="producer/2"]:before { content : ' \1F46F'; }
/*Studio Ghibli*/
.data.studio a[href$="producer/21"]:before { content : ' \1F46A'; }
/*Shaft*/
.data.studio a[href$="producer/44"]:before { content : ' \1F307'; }
/*Trigger*/
.data.studio a[href$="producer/803"]:before { content : ' \1F52B'; }
/*Bones*/
.data.studio a[href$="producer/4"]:before { content : ' \1F576'; }
/*TYO Animations*/
.data.studio a[href$="producer/333"]:before { content : ' \1F46D'; }
/*Sunrise*/
.data.studio a[href$="producer/14"]:before { content : ' \1F574'; }
/*Khara*/
.data.studio a[href$="producer/47"]:before { content : ' \1F916'; }
